
/* |||||||||||||||   COMPONENTE START   ||||||||||||||| */
.contentStart{
    margin-top: 80px;
}
#logoMeans{
  color: gray;
}
.ButtonLikeLink{
  background-color: white;
  border: none;
  color: skyblue
}

.ButtonLikeLink:hover{
  text-decoration: underline;
  color: blue;
}

.ButtonLikeLinkSelected{
  background-color: white;
  border: none;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}

.ButtonLikeLinkSelected:hover{
  text-decoration: underline;
}
/* |||||||||||||||   COMPONENTE THEMAP   ||||||||||||||| */
.leaflet-container {
    height: 600px;
    width: 90%;
    margin-left: 15px;
  }
  
.amapa{
    margin-bottom: 50px;
    background-color: white;
  }

/* Legend */
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 155px;
}

.legend {
  text-align: left;
  line-height: 22px;
  color: #555;
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}
/*  */




.btn_search_map{
  background-color: rgb(199, 4, 118);
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map:hover{
  background-color: rgb(113, 1, 133);
}

.btn_search_map2{
  background-color: rgb(0, 191, 224);
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map2:hover{
  background-color: rgb(0, 118, 139);
}

.btn_search_map3{
  background-color: skyblue;
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map3:hover{
  background-color: blue;
}
/* |||||||||||||||   COMPONENTE RESULTS TABLE   ||||||||||||||| */

thead{
  text-align: center;
}

.centerTd{
  text-align: center;
}

/* |||||||||||||||   VISTA CLAVE Y PROPIEDAD  ||||||||||||||| */

.icon-click{
  cursor: pointer;
}

.datsBigger{
  font-size: 15px;
}
/* 
#inputSearcher{
  width: 10%;
} */

/* |||||||||||||||   LOGO ANIMATION  ||||||||||||||| */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 16s linear infinite;
  -moz-animation: rotating 16s linear infinite;
  -ms-animation: rotating 16s linear infinite;
  -o-animation: rotating 16s linear infinite;
  animation: rotating 16s linear infinite;
  position: absolute;
}

/* |||||||||||||||   NAVLINKS FOR PROJECTS  ||||||||||||||| */

.proLink{
  text-decoration: none;
  background-color: #343A40;
  color: white;
  font-size: 22px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* ||||||||||||||| TRAVEL BETWEEN OBJETIVES ON PROJECT ||||||||||||||| */ 

.ButtonLikeLink{
  background-color: white;
  border: none;
  color:  #8282FF ;
}

.ButtonLikeLink:hover{
  text-decoration: underline;
  color: blue;
}


.diagram-component {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
}

#minimap{
  margin-top: 15px;
  height: 300px;
  width: 100%;
  background-color: red;
}