
/* |||||||||||||||   COMPONENTE START   ||||||||||||||| */
.contentStart{
    margin-top: 80px;
}
#logoMeans{
  color: gray;
}
.ButtonLikeLink{
  background-color: white;
  border: none;
  color: skyblue
}

.ButtonLikeLink:hover{
  text-decoration: underline;
  color: blue;
}

.ButtonLikeLinkSelected{
  background-color: white;
  border: none;
  color: blue;
  font-size: 15px;
  font-weight: bold;
}

.ButtonLikeLinkSelected:hover{
  text-decoration: underline;
}
/* |||||||||||||||   COMPONENTE THEMAP   ||||||||||||||| */
.leaflet-container {
    height: 600px;
    width: 100%;
  }
  
.amapa{
    margin-bottom: 50px;
    background-color: white;
  }

.btn_search_map{
  background-color: tomato;
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map:hover{
  background-color: red;
}

.btn_search_map2{
  background-color: rgb(175, 161, 37);
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map2:hover{
  background-color: rgb(231, 210, 17);
}

.btn_search_map3{
  background-color: skyblue;
  border-style: none;
  border-radius: 30px;
  font-size: 20px;
  color: white;
}

.btn_search_map3:hover{
  background-color: blue;
}
/* |||||||||||||||   COMPONENTE RESULTS TABLE   ||||||||||||||| */

thead{
  text-align: center;
}

.centerTd{
  text-align: center;
}

/* |||||||||||||||   VISTA CLAVE Y PROPIEDAD  ||||||||||||||| */

.icon-click{
  cursor: pointer;
}

.datsBigger{
  font-size: 15px;
}
/* 
#inputSearcher{
  width: 10%;
} */

/* |||||||||||||||   LOGO ANIMATION  ||||||||||||||| */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 16s linear infinite;
  -moz-animation: rotating 16s linear infinite;
  -ms-animation: rotating 16s linear infinite;
  -o-animation: rotating 16s linear infinite;
  animation: rotating 16s linear infinite;
  position: absolute;
}